<ion-view title="Create a new Wi-Fi Network">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <div>
            <p>Let’s get started by naming and setting a password for your new Wi-Fi network.</p>
        </div>
        <form class="list">
            <label class="item item-input" name="Network Name">
                <span class="input-label">Network Name</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="homeWifi9792Created" id="createANewWiFiNetwork-button1" class="button button-positive  button-block">Create network</a>
    </ion-content>
</ion-view>